<div class="row">

  <% higherSupVideoList.forEach(function(higherSupVideo){ %>

	<div class="col-xs-12">
		<div id="video-information" class="row">
			<div class="col-xs-8">
				<div class="video-title">
					<a href="/video/<%= higherSupVideo.videoId %>"><%= higherSupVideo.videoName %></a>
				</div>
				<div class="video-pubTime">
					<p><%= higherSupVideo.pubTime %><p>
				</div>
				<div class="video-category">
					<p>分类：<%= higherSupVideo.videoClass %></p>
				</div>	
			</div>
			<div class="col-xs-4">
				<div class="video-viewers">
					<p>观看人数：<%= higherSupVideo.viewCount %></p>
				</div>
				<div class="video-support">
					<p>点赞人数：<%= higherSupVideo.support %></p>
				</div>
				<div class="video-oppose">
					<p>点踩人数：<%= higherSupVideo.oppose %></p>
				</div>
			</div>
		</div>
	</div>

  <% }) %>

</div>
