<div class="row">

  <% categoryVideoList.forEach(function(categoryVideo){ %>

	<div class="col-xs-12">
		<div id="video-information" class="row">
			<div class="col-xs-8">
				<div class="video-title">
					<a href="/video/<%= categoryVideo.videoId %>"><%= categoryVideo.videoName %></a>
				</div>
				<div class="video-pubTime">
					<p><%= categoryVideo.pubTime %><p>
				</div>
				<div class="video-category">
					<p>分类：<%= categoryVideo.videoClass %></p>
				</div>	
			</div>
			<div class="col-xs-4">
				<div class="video-viewers">
					<p>观看人数：<%= categoryVideo.viewCount %></p>
				</div>
				<div class="video-support">
					<p>点赞人数：<%= categoryVideo.support %></p>
				</div>
				<div class="video-oppose">
					<p>点踩人数：<%= categoryVideo.oppose %></p>
				</div>
			</div>
		</div>
	</div>

  <% }) %>

</div>
